<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../CSS/style.css"
</head>
<body>
    <form method="post" class="form-login">
        <center>
            <h2>Test Login</h2>
            Usuario
            <input type="text" name="u" placeholder="Pon tu usuario o correo" required><br><br>
            Contraseña
            <input type="password" name="c" placeholder="Ingresa tu contraseña" required><br><br>
            <input type="submit" value="Login"><br>
            <p><a href="Registro.html">Registrate ahora</a></p> 
        </center>
    </form>
</body>
</html>