<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <center>
            <h2>Test Login</h2>
            Usuario
            <input type="text" name="u" required>
            <br>
            Contraseña
            <input type="password" name="c" required>
            <br>
            <input type="submit" value="Login"> 
        </center>
    </form>
</body>
</html>