<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Evento</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <form action="" method="post" class="form-publicar-evento">
        <h2>Publicar Nuevo Evento</h2>
        Título del evento:<br>
        <input type="text" name="titulo" id="titulo" required><br><br>

        Descripción:<br>
        <textarea name="descripcion" id="descripcion" rows="5" required></textarea><br><br>

        Categoria:<br>
        <select name="Categoria" required>
            <option value="">-- Selecciona una categoria</option>
            <option value="Sociales">Sociales</option>
            <option value="Ferias">Ferias</option>
            <option value="Culturales">Culturales</option>
        </select><br><br>

        Ciudad:<br>
        <select id="ciudad" name="ciudad" required>
            <option value="">-- Selecciona una ciudad --</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Cartagena">Cartagena</option>
            <option value="Santa Marta">Santa Marta</option>
        </select><br><br>

        Precio (COP)<br>
        <input type="number" name="precio" required><br><br>

        Imagen del servicio:
        <input type="file" name="imagen" required><br><br>

        <input type="submit" value="Publicar">
    </form>
</body>
</html>
