<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <form method="post" class="form-registro">
            <h2>Test register</h2>
            Nombre
            <input type="text" name="ur" required><br><br>
            Apellido
            <input type="text" name="ar" required><br><br>
            Correo
            <input type="email" name="cor" required><br><br>
            Contraseña
            <input type="password" name="cont" required><br><br>
            <input type="submit" value="Registrar">
    </form>
</body>
</html>