<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Special+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <form action="../Controller/RegistroCtrl.php" method="post" class="form-registro">
            <h2>Crear una cuenta nueva</h2>
            Nombre
            <input type="text" name="ur" required><br><br>
            Apellido
            <input type="text" name="ar" required><br><br>
            Correo
            <input type="email" name="cor" required><br><br>
            Contraseña
            <input type="password" name="cont" id="password" required><br><br>
            <select name="tipo" required>
                <option value="cliente">Cliente</option>
                <option value="proveedor">Proveedor</option>
            </select><br><br>            
            <input type="submit" value="Registrar">
    </form>
</body>
</html>